<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{title}}</title>
  {% viteScriptTag "js/main.js" %}
</head>
<body>
	<p><a href="/">Home</a> · <a href="/another-page">Another page</a></p>
	{{ content | safe }}
</body>
</html>
